/* add your CSS here */


.container{
    border:2px solid #eee;
    width:325px;
    margin: auto;
    height:100%;
    padding-top:20px;
    box-shadow: 8px 8px #eee;
}

.container h3{
    font-style: "bold";
    font-size: 30px;
    margin-left: 13px;
    margin-top: 20px;

}


.container img{
    width: 300px;
    height: 200px;
    margin-left: 13px;

}

.container .describe {
    border: 2px solid #eee;
    width:297px;
    margin-top: 10px;
    margin-left: 13px;
    margin-bottom: 15px;

}

.describe p{
    margin-left: 20px;

}

.describe ul li span{
    font-weight: bold;
}


.describe .yep{
    font-style: italic;
    font-weight:20px;
}












